
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.category-header{
    display: flex;
    width: 100%;
    overflow: auto;
    justify-content: space-between;
}

.category-header a{
  display: inline;
    margin: 0;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
}

.py-4 section.jumbotron.text-center {
  margin-top: -23px;
}